# Windows image file caches
Thumbs.db
ehthumbs.db
.idea/
# Folder config file
Desktop.ini

node_modules/body-parser/node_modules/raw-body/node_modules/iconv-lite/
node_modules/cookie-parser/
node_modules/debug/
node_modules/morgan/
node_modules/serve-favicon/

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
