td.background{
    opacity: 0.7;
    padding-top:20%  ;
    margin-top: 30%
}
td.background:hover{
    background: #f05f40 ;
}

td.background p{
    -webkit-text-fill-color: white;
    text-align:center;
    font-size: large;
    opacity: 1.0;
}

td.background:hover p{

    align:top;
    opacity: 1.0;
}
td.background ul{
    -webkit-text-fill-color:white;
    opacity: 0.0;
}
td.background:hover ul{
    opacity: 1.5;
}
td.background li{
    -webkit-text-fill-color: white;
    font-style: italic;
    font-size: large;
    opacity: 0.0;
    list-style-type: none;
}
td.background:hover li {
    opacity: 1.5;
}
td.background a{
    color: #ffffff;
}

section.agent{
    background-color: #222;
    border-color: #fff;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
    -webkit-text-fill-color:#f05f40 ;
    font-size: large;
    font-style: italic;
    opacity: 1.0;
}

form.form-horizontal:hover{
    opacity: 0.8;
}

.carousel{
    background: #2f4357;
    margin-top: 20px;
    border: double;
}
.carousel .item img{
    margin: 0 auto; /* Align slide image horizontally center */
    height: 450px;
    width: 1800px;
}
.bs-example{
    margin: 10px;
}

div.img_carousel{
    background-color: #222222;
}

div.carousel-inner img{
    position: relative;
    opacity: 0.8;
}

div.carousel-inner p {
    text-align: center;
    position: absolute;
    top: 80px;
    left: 250px;
    width: 30%;
    opacity: 0.6;
    background: border-box black;
    font-family: "Calibri Light";
    font-size: xx-large;
    text-transform: uppercase;
    font-weight: 700;
    -webkit-text-fill-color: lightcyan ;
}

